<h2 class="text-center py-3"><%= "All available projects" %></h2>
<p class = "text-center"><strong><%= @movies.size %></strong> movies</p>
<div class="container">
  <div style="width: 100%; height: 300px; margin-left: none; "
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @movies.each do |movie|%>
      <div class="card-product">
      <div class="card-img"   style="background-image:url('<%= image_path movie.poster%>');" >
      </div>
        <div class="d-flex flex-column flex-grow-1 p-2">
          <h2><%= link_to movie.title, movie_path(movie) %></h2>
          <%= movie.release_date%>
          <p> <strong><i class="fa-solid fa-film"></i> : </strong> <%= movie.description%> </p>
          <p><strong><i class="fa-solid fa-sack-dollar"></i> : </strong> <%= movie.price%> euros </p>
          <div class="align-bottom">
            <p class = "text-end"><strong></strong> <span class="product-tag"> <%= movie.movie_type%><span>  </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
