<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Add a movie</h3>
        <%= simple_form_for @movie do |f| %>
          <%= f.input :title, placeholder: 'Your movie title' %>
          <%= f.input :release_date, label: 'Date' %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.input :movie_type %>
          <%= f.input :address %>
          <%= f.input :poster %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
