


<div class="container">
  <div class="card-trip">
   <h1 class = "mb-3 mt-3 text-center"><%= @movie.title %></h1>
    <img src="<%= image_path @movie.poster%>" />
    <div class="card-trip-infos">
      <div>

        <p><%= @movie.description%> </p>
      </div>
      <div>
        <p><%= @movie.movie_type%></p>
        <h2 class="card-trip-pricing"> <%= @movie.price%></h2>
    </div>
  </div>


        <div class="booking-movie">
          <div class="row">
            <div class="col-12 col-md-6 offset-lg-3">
              <div class="bg-white rounded p-3 shadow">
                <h3 class = "text-center">Production date</h3>
                <%= simple_form_for [@movie, @booking] do |f| %>
                  <%= f.input :start_date %>
                  <%= f.input :end_date %>
                  <%= f.submit class: 'btn btn-primary' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

</div>
