<div class="movie-card pt-6">
<div class="container d-flex justify-content-between ">
 <div class="banner-movie-page" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path @movie.poster%>');">
   <h2></h2>
   </div>
  <div class="card-movie-infos ">
      <h2 class="title-movies"><%= @movie.title %></h2>
      <p><strong>Scenario: </strong><%= @movie.description%> </p>
      <p><strong>Daily budget:</strong> <%= @movie.price%> euros</p>
      <p><strong>Genre: </strong><span class="product-tag-booking-show"> <%= @movie.movie_type%><span>  </p>
      <div class="p-2 shadow">
      <h3 class = "mb-2"> When do you want to produce <%= @movie.title%> ?</h3>
        <%= simple_form_for [@movie, @booking], data: { controller: 'flatpickr' } do |f| %>
          <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDateInput" } } %>
          <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDateInput" } } %>
          <div class = "text-center">
          <%= f.submit class: "btn-booking-black" %>
          </div>
        <% end %>
        <div class = " text center py-3">
        </div>
    </div>
    </div>

</div>

</div>
