<div class="movie-card pt-6">
<div class="container d-flex justify-content-between ">
 <div class="banner-movie-page" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path @movie.poster%>');">
   <h2></h2>
   </div>
  <div class="card-movie-infos ">
      <h2 class="title-movies"><%= @movie.title %></h2>
      <p><strong>Scenario: </strong><%= @movie.description%> </p>
      <p><strong>Daily budget:</strong> <%= @movie.price%> euros</p>
      <p><strong>Genre: </strong><span class="product-tag-booking-show"> <%= @movie.movie_type%><span>  </p>

       <div class="bg-white rounded p-3 shadow">
      <h3>Production date</h3>
      <%= simple_form_for [@movie, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <div class = "text-center 100%">
      <%= f.submit class: "btn-booking-black" %>
      </div>
      <% end %>
    </div>
    </div>


</div>

</div>

<%# class="product-tag" %>
