


<div class="container">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path @movie.poster%>');"></div>
        <div class="details-movie d-flex flex-column">
          <h1 class = "text-center"><%= @movie.title %></h1>
          <p> <strong> Synopsis : </strong> <%= @movie.description%> </p>
          <p><strong>Budget:</strong> <%= @movie.price%>  </p>
          <p><strong>Type:</strong> <span class="product-tag"> <%= @movie.movie_type%><span>  </p>
        </div>
        <div class="booking-movie">
          <div class="row">
            <div class="col-12 col-md-6 offset-lg-3">
              <div class="bg-white rounded p-3 shadow">
                <h3>Suggested production date</h3>
                <%= simple_form_for [@movie, @booking] do |f| %>
                  <%= f.input :start_date %>
                  <%= f.input :end_date %>
                  <%= f.submit class: 'btn btn-primary' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
