<h2 class="text-center mt-4 mb-4 strong fw-bolder"><%= "My production projects" %></h2>

<div class="container">
  <div class="row">
    <% @bookings.each do |booking|%>
      <div class="card-product">
      <div class="card-img"   style="background-image:url('<%= image_path booking.movie.poster%>');" >
      </div>
        <div class="d-flex flex-column flex-grow-1 p-2">
          <h2><%= booking.movie.title %></h2>
          <%= booking.movie.release_date%>
          <p> <strong> Scenario : </strong> <%= booking.movie.description%> </p>
          <p><strong>Budget:</strong> <%= booking.movie.price%> euros </p>
          <p><strong>Genre:</strong> <span class="product-tag"> <%= booking.movie.movie_type%><span></p>
          <p>Production start: <%= booking.start_date%></p>
          <p>Production end: <%= booking.end_date%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
