<h2 class="text-center py-5"><%= "My bookings" %></h2>

<div class="container">
  <div class="cards">
    <% @bookings.each do |booking|%>
      <div class="card-category" >
   <%# <% = <image_path %>
        <h3> <%= link_to booking.movie.title, movie_path(booking.movie) %> </h3>
        <p><%= booking.movie.release_date%></p>
        <p><%= booking.movie.description%></p>
        <p><%= booking.movie.price%></p>
        <p><%= booking.movie.movie_type%></p>
        <p><%= booking.start_date%></p>
        <p><%= booking.end_date%></p>
       </div>
    <% end %>
  </div>
</div>
